@import url('../../variables.css');

.start-page {
    width: 100vw;
    height: 100vh;
    background-image: url('../../Assets/Img/Bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.start-info {
    width: 100%;
    position: relative;
    margin-top: 12rem;
    padding-top: 5rem;
    text-align: center;
    border-radius: 2rem 2rem 0 0;
    background-color: var(--primary-color);
}

.start-info h2 {
    font-size: var(--font-size-bg);
    color: var(--text-color);
}

.start-info p {
    font-size: var(--font-size-sm);
    color: var(--inactive-color);
    padding: 0.5rem;
    line-height: 3rem;
}

.start-btn {
    display: inline-block;
    width: 80%;
    margin-bottom: 4rem;
    margin-top: 3rem;
    padding-block: 1.5rem;
    background-color: var(--text-color);
    color: var(--primary-color);
    font-size: var(--font-size-sm);
    border: none;
    border-radius: 1rem;
}

.indicator {
    position: absolute;
    width: 50%;
    height: 1rem;
    left: 25%;
    bottom: 0;
    background: #e0e0e0;
    border-radius: 100px;
}
