.favorite-page {
    margin: 0 auto;
    padding: 2rem;
}

.favorite-heading {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}

.no-items {
    width: 90%;
    margin: 10rem auto;
    text-align: center;
}
