.search-page {
    width: 90%;
    margin: 0 auto;
}

.searchHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-results {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    padding-block: 2rem;
    margin-bottom: 10rem;
}
@media (min-width: 700px) {
    .search-results {
        grid-template-columns: repeat(3, 1fr);
    }
}