header {
    display: flex;
    padding: 1rem auto;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.back-arrow-link {
    all: unset;
}

.back_arrow {
    font-size: 3rem;
    margin-right: 7rem;
}
.back_arrow:active {
    position: relative;
    left: -0.2rem;
}

.category-page {
    width: 90%;
    margin: 0 auto;
}

.results-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-block: 2rem;
    margin-bottom: 10rem;
}
