/* --------------- INGREDIENTS SEITE --------------- */

.MealBackground {
    width: 100vw;
}

.MealSlider {
    position: absolute;
    top: 280px;
    margin-top: -280px;
    border-radius: 16px;
    box-shadow: 0px -10px 40px rgba(101, 123, 154, 0.1);
    background-color: var(--primary-color);
    margin: 0 auto;
    width: 100vw;
}

.instructionsPage {
    display: none;
}

h2 {
    font-weight: 700;
    color: var(--text-color);
    margin-top: 24px;
    margin-left: 24px;
}

h2:nth-of-type(1) {
    font-size: 24px;
}

h2:nth-of-type(2) {
    font-size: 20px;
    line-height: 130%;
}

.FoodType {
    margin-top: 6px;
    margin-left: 24px;
    margin-bottom: 25px;
    font-size: 16px;
    color: #748189;
    line-height: 23.3px;
}

.FoodType h3 {
    font-weight: 600;
}

.FoodType h4 {
    font-weight: 400;
}

.ButtonsBox {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ToggleButtons {
    width: 326px;
    height: 54px;
    background: #e6ebf2;
    border-radius: 16px;
    padding: 4px;
}

.ToggleButtons button {
    width: 159px;
    height: 46px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 16px;
    border: none;
    padding: 12px 35px;
    gap: 10px;
}
.ToggleButtons button:nth-of-type(1) {
    background: #042628;
    color: var(--primary-color);
}
.ToggleButtons button:nth-of-type(2) {
    background: #e6ebf2;
    color: #042628;
}

/* .ToggleButtons button:nth-of-type(1):hover {
    background: #E6EBF2;
    color: #042628;
} */

/* .ToggleButtons button:nth-of-type(2):hover{
    background: #042628;
    color: var(--primary-color);
} */

.Ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
}

.Ingredients p {
    width: max-content;
    height: 52px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 2px 16px rgba(6, 51, 54, 0.1); /* rgba find ich gut ;)  */
    border-radius: 16px;
    background: var(--primary-color);
    color: var(--text-color);
}

/* --------------- INSTRUCTIONS SEITE --------------- */

.InstructionText {
    width: 287px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    box-shadow: 0px 2px 16px rgba(6, 51, 54, 0.1);
    border-radius: 16px;
    background: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
}

.VideoButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 146px;
    gap: 10px;
    background-color: var(--active-color);
    word-wrap: break-word;
}

.hidden {
    display: none;
}

.Instructions {
    margin-bottom: 6rem;
}
