/* .container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
} */

.card {
	box-shadow: 0 0 10px 0px lightgray;
	aspect-ratio: 1 / .9;
	padding: 1rem;
	cursor: pointer;
	border-radius: 1rem;
	transition: all 250ms;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 90px;
	max-width: 150px;
}
.card:hover {
	box-shadow: 0 0 0 0 lightgray;
}

.card img {
	width: 100%;
	transition: all 250ms ease-out;
}
.card:hover img {
	scale: 1.1;
}

.card h4 {
	padding-left: 1rem;
	font-size: 1.5rem;
}

.card-link {
	all: unset;
}
